<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <script type="text/javascript" src="http://www.chinadaily.com.cn/js/2016/jquery.min.js" atremote="1"></script> -->
    <title>Chinese farming model benefits Global South - Chinadaily.com.cn</title>
    <meta name="keywords" />
    <meta name="description" content="In the sun-drenched fields of Quzhou county, Hebei province, Chinese agricultural expertise is being taught to students from Africa, giving them practical experience in improving farming techniques that they can then take back home." />
    
      <meta property="og:xi" content="0" />
      <meta property="og:title" content="Chinese farming model benefits Global South" />
      <meta property="og:recommend" content="0" />
      <meta property="og:url" content="https://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html" />
      <meta property="og:image" content="http://img2.chinadaily.com.cn/images/202609/18/6aac955be4b06d4a392c8787.jpeg" />
      
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@ChinaDailyApp" />
      <meta name="twitter:title" content="Chinese farming model benefits Global South" />
      <meta name="twitter:description" content="In the sun-drenched fields of Quzhou county, Hebei province, Chinese agricultural expertise is being taught to students from Africa, giving them practical experience in improving farming techniques that they can then take back home." />
      
        
        
        
        <meta name="twitter:image:src" content="http://img2.chinadaily.com.cn/images/202609/18/6aac955be4b06d4a392c878a.jpeg" />
        
        
        
        <meta name="twitter:image" content="http://img2.chinadaily.com.cn/images/202609/18/6aac955be4b06d4a392c878a.jpeg" />
      
      
      
      
      <meta name="shareImg" content="//img2.chinadaily.com.cn/images/202609/18/6aac955be4b06d4a392c8787.jpeg" />
      <meta name="msapplication-TileImage" content="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
      <link rel="apple-touch-icon-precomposed" href="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" charset="utf-8" href="//img2.chinadaily.com.cn/static/2017www_index_page_en/css/bootstrap.min.css" />
    <link rel="stylesheet" charset="utf-8" href="//img2.chinadaily.com.cn/static/2017www_index_page_en/css/layout-g.css?ver=2" />
    <link rel="stylesheet" charset="utf-8" href="//img2.chinadaily.com.cn/static/2017www_index_page_en/css/bigphoto.css" />
    <link rel="stylesheet" charset="utf-8" href="//img2.chinadaily.com.cn/static/2017www_index_page_en/css/photo-page.css?var=75" />
    <link rel="stylesheet" type="text/css" href="//img2.chinadaily.com.cn/static/2017www_index_page_en/css/r-public.css?var=114" />
    <link rel="stylesheet" type="text/css" href="//img2.chinadaily.com.cn/static/2017www_index_page_en/css/r-content-g.css?v=13" />
    <link rel="stylesheet" charset="utf-8" href="//img2.chinadaily.com.cn/static/common/css/share_encontent.css?ver=2" />
    <script xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/html5shiv.js"></script>
    <script xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/respond.min.js"></script>
    <link href="//img2.chinadaily.com.cn/h5hack/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
    <link href="/h5hack/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
    <script src="/h5hack/respond.proxy.js" xml:space="preserve"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/jquery.min.js"></script>
    <script src="//www.chinadaily.com.cn/js/2017/bootstrap.min.js" type="text/javascript" xml:space="preserve"></script>
    <script type="text/javascript" src="//www.chinadaily.com.cn/js/2020/qrcode.min.js" xml:space="preserve"></script><!--二维码生成-->
    <script src="//www.chinadaily.com.cn/js/2017/changimages.js" type="text/javascript" xml:space="preserve"></script>
    <script src="//www.chinadaily.com.cn/js/2017/respond.min.js" type="text/javascript" xml:space="preserve"></script>

    <script type="text/javascript" xml:space="preserve" src="//img2.chinadaily.com.cn/static/2017www_index_page_en/js/public_content.js?ver=3"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/share.js?ver=2"></script>
 <script src="https://share.chinadaily.com.cn/wxshare/js/jsonps.js" xml:space="preserve"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/jweixin-1.6.0.js"></script>
    <!--[if lt IE 9]>

<style type="text/css">

.zhezhao{
background-color:#ddd;
}
</style>
<![endif]-->

    
      <meta name="articaltype" content="COMPO" />
      <meta name="filetype" content="1" />
      <meta name="publishedtype" content="1" />
      <meta name="pagetype" content="1" />
      <meta name="catalogs" content="59b8d010a3108c54ed7dfc3a" />
      <meta name="contentid" content="WS6aac955be4b06d4aa055eb95" />
      <meta name="publishdate" content="2026-09-18" />
      <meta name="editor" content="董森河" />
      <meta name="author" content="董森河" />
      <meta name="source" content="China Daily" />

      <!--来源-->
      <meta name="webterren_speical" content="4" />
      <meta name="sourcetype" content="4" />
 <script type="application/ld+json">

{
    "@context": "https://schema.org",
    "@type":"NewsArticle",
    "headline":"Chinese farming model benefits Global South",
    "url":"https://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html",

  "image":"http://img2.chinadaily.com.cn/images/202609/18/6aac955be4b06d4a392c8787.jpeg",
    


    "datePublished": "2026-09-18T09:35:22+08:00",
    "dateModified": "2026-09-18T09:35:22+08:00",
    
    "author":{
        "@type":"Person",
        "name":"ZHAO YIMENG in Quzhou, Hebei and SHARON NAKOLA in Lilongwe, Malawi"
    },
    

    
    "publisher":{
        "@type":"Organization",
        "name":"China Daily"
    },
    
   
"description":"In the sun-drenched fields of Quzhou county, Hebei province, Chinese agricultural expertise is being taught to students from Africa, giving them practical experience in improving farming techniques that they can then take back home.",
    
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html"
    }
}

      </script>
    
  </head>
  <body>
    <style xml:space="preserve">
      @media (max-width: 599px){
        .breadholder{height:4rem;}
      }
    </style>
    <div id="wx_image" style="display:none;">
      <img src="//www.chinadaily.com.cn/image_e/2020/logo_chinadaily.jpg" />
    </div>

    <!-- begin响应式遮罩层-->
    <div class="zhezhao"></div>
    <!-- end 响应式遮罩 -->
    <!-- 响应式nav开始 -->
    <nav class="navbartop1 res-m">
      <div class="nav-fluid">
        <div class="yinyingceng"></div>
        <button type="button" class="navbutton1">
          <span class="icon-bar1"></span>
          <span class="icon-bar1"></span>
          <span class="icon-bar1"></span>
        </button>
      </div>
      <div class="img-center">
        <a class="a-center" target="_top" shape="rect" href="//www.chinadaily.com.cn"><img src="//www.chinadaily.com.cn/image_e/2017/logo.png" alt="chinadaily" />
        </a>
      </div>
      <div class="fl-right">
        <a href="//cn.chinadaily.com.cn" target="_top" shape="rect"><img src="//www.chinadaily.com.cn/image_e/2017/cnbut.png" /></a>
      </div>
    </nav>
    <!-- 响应式nav结束 -->
    <!-- 响应式菜单 -->
    <ul class="xiao-ul">
      <li><a href="//newssearch.chinadaily.com.cn/en/search" target="_top" atremote="1" shape="rect"><span>Search</span></a></li>
      <li><a target="_top" shape="rect" href="//www.chinadaily.com.cn">HOME</a></li>
      <li>
        <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china">CHINA</a>
        </li>
      <li>
        <a target="_top" shape="rect" href="//www.chinadaily.com.cn/world">WORLD</a>
        </li>
      <li>
        <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business">BUSINESS</a>
        </li>
      <li>
        <a target="_top" shape="rect" href="//www.chinadaily.com.cn/life">LIFESTYLE</a>
        </li>
      <li>
        <a target="_top" shape="rect" href="//www.chinadaily.com.cn/culture">CULTURE</a>
        </li>
      <li>
        <a target="_top" shape="rect" href="//www.chinadaily.com.cn/travel">TRAVEL</a>
        </li>
      <li><a href="//watchthis.chinadaily.com.cn" target="_blank" shape="rect">WATCHTHIS</a></li>
      <li>
        <a target="_top" shape="rect" href="//www.chinadaily.com.cn/sports">SPORTS</a>
        </li>
      <li>
        <a target="_top" shape="rect" href="//www.chinadaily.com.cn/opinion">OPINION</a>
        </li>
      <li>
        <a target="_top" shape="rect" href="//www.chinadaily.com.cn/regional">REGIONAL</a>
        </li>
      <li><a href="https://bbs.chinadaily.com.cn/" target="_top" shape="rect">FORUM</a></li>
      <li><a href="javascript:void(0)" shape="rect">NEWSPAPER</a></li>
      <li><a href="//www.chinadaily.com.cn/newmedia.html" target="_top" shape="rect">MOBILE</a></li>
    </ul>
    <!-- end响应式菜单 -->
    <!-- 响应式bread导航 -->
    <ol class="breadcrumb res-m" id="bread-nav1">
      
        
           <li><a shape="rect" href="//www.chinadaily.com.cn">Home</a></li>
          
          
        
      
      
        
          
          <li><a shape="rect" href="//www.chinadaily.com.cn/china">China</a></li>
          
        
      
      
        
          
          
          <li><a shape="rect" href="//www.chinadaily.com.cn/china/society">Society</a></li>
        
      
      <img src="//www.chinadaily.com.cn/image_e/2020/share/share.png" class="share-icon" alt="Share to ..." title="Share to ..." />
    </ol>
    <div class="navholder">    </div>
    <div class="breadholder">    </div>
    <!-- pc 主体开始 -->

    <div class="main_art">
      <div class="w999">

        <div class="logo">
          <span style="mb10"><a href="//www.chinadaily.com.cn" target="_top" shape="rect"><img src="//www.chinadaily.com.cn/image_e/2017/logo.gif" /></a></span>
          <span id="bread-nav">
            
              <a shape="rect" href="//www.chinadaily.com.cn">Home</a>
              
              
            
            
            
              
              <a shape="rect" href="//www.chinadaily.com.cn/china">/ China</a>
              
            
            
            
              
              
              <a shape="rect" href="//www.chinadaily.com.cn/china/society">/ Society</a>
            
            
          </span>
        </div>
      </div>


      <div class="ce_art">

        <h1>Chinese farming model benefits Global South</h1>
        <h2>Hands-on training contributes to finding localized solutions to agricultural challenges</h2>
      </div>
      <div class="info">
        <span class="info_l">
          By ZHAO YIMENG in Quzhou, Hebei and SHARON NAKOLA in Lilongwe, Malawi | 
          China Daily |
          Updated: 2026-09-18 09:35
          <a title="facebook" style="cursor:pointer; " target="_blank" shape="rect" href="https://www.facebook.com/sharer.php?title=Chinese farming model benefits Global South&amp;u=https://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html"><img src="https://www.chinadaily.com.cn/image_e/2020/facebook.png" height="17px" /></a>
          <a title="twitter" style="cursor:pointer;" target="_blank" shape="rect" href="https://twitter.com/share?text=Chinese farming model benefits Global South&amp;url=https://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html"><img src="https://www.chinadaily.com.cn/image_e/2024/twitter.png" /></a>
          <a title="linkedin" style="cursor:pointer;" target="_blank" shape="rect" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=Chinese farming model benefits Global South&amp;url=https://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html"><img src="https://www.chinadaily.com.cn/image_e/2020/linkedin.png" /></a>
          <a title="More" class="more" style="cursor:pointer; " shape="rect"><img src="//www.chinadaily.com.cn/image_e/2017/more_art.gif" /></a>
        </span>


        <span class="info_r"><a href="//www.chinadaily.com.cn/mobile/daily.html" target="_blank" shape="rect"><img src="//www.chinadaily.com.cn/image_e/2017/app.gif" width="200" height="26" /></a></span>
      </div>
      <div class="moreshare">
        <span class="closesharepc">Share<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" /></span>
        <a title="weibo" style="cursor:pointer;" target="_blank" shape="rect" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=Chinese farming model benefits Global South&amp;pic=http://img2.chinadaily.com.cn/images/202609/18/6aac955be4b06d4a392c8787.jpeg&amp;url=https://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html"><img src="https://www.chinadaily.com.cn/image_e/2020/weibo.jpg" /></a>
        <a title="weixin" style="cursor:pointer;" shape="rect"><img src="https://www.chinadaily.com.cn/image_e/2020/weixin.jpg" id="weixinqrcode" /></a>
      </div>
      <div id="qrcode">
        <span>Share - WeChat<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" /></span>
        <div id="qrcodearea">
        </div>
      </div>
      <div class="share">
        <div class="share-core">
          <a title="weibo" shape="rect" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=Chinese farming model benefits Global South&amp;pic=http://img2.chinadaily.com.cn/images/202609/18/6aac955be4b06d4a392c8787.jpeg&amp;url=https://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/weibo.png" /></a>
          <a title="facebook" target="_blank" shape="rect" href="https://www.facebook.com/sharer.php?title=Chinese farming model benefits Global South&amp;u=https://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/facebook.png" /></a>
          <a title="twitter" target="_blank" shape="rect" href="https://twitter.com/share?text=Chinese farming model benefits Global South&amp;url=https://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/twitter.png" /></a>
          <a title="linkedin" target="_blank" shape="rect" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=Chinese farming model benefits Global South&amp;url=https://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/linkedin.png" /></a>
          <a title="mail" target="_blank" shape="rect" href="mailto:?subject=Shared from Chinadaily.com.cn&amp;body=Chinese farming model benefits Global South%0D%0Ahttps://www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/mail.png" /></a>
          <!-- <a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/browser.png"  /></a>
<a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/more.png"  /></a>		-->
        </div>
        <div class="share-close">
          <span>CLOSE</span>
        </div>
      </div>
      <div class="picshow"> 
        
          
        

        
          <a class="pagestyle" shape="rect" href="//www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95_2.html">
            <div id="apDiv1"> </div></a>
        

        <div id="Content">
         
        
          <figure class="image" style="display: table;"> 
 <img src="//img2.chinadaily.com.cn/images/202609/18/6aac955ae4b06d4a392c8779.jpeg" data-from="newsroom" data-mimetype="image/jpeg" id="img-6aac955ae4b06d4a392c8779"> 
 <figcaption style="display: table-caption; caption-side: bottom;">
   Farmers pose with Chinese expert Jiao Xiaoqiang (center) after harvesting corn from a field involved in the Science and Technology Backyard program in Lisasadzi, Malawi, in April. [Photo provided to CHINA DAILY] 
 </figcaption> 
</figure> 
<p>In the sun-drenched fields of Quzhou county, Hebei province, Chinese agricultural expertise is being taught to students from Africa, giving them practical experience in improving farming techniques that they can then take back home.</p> 
<p>Working alongside agriculturalists and local farmers, these students are participating in a food security and poverty alleviation model developed to benefit China, and now being rolled out for other developing nations facing similar challenges.</p> 
<p>The Science and Technology Backyard program, a farming development model pioneered by China Agricultural University in Quzhou since 2009, is an integrated agricultural innovation, research and rural service model where university researchers and graduate students live, work and conduct field experiments directly inside farming communities.</p> 
<p>Following the success of the program in China, the university has sought to extend its experience to fellow developing countries by inviting overseas students to explore solutions to farming challenges.</p> 
<p>Learning to drive tractors, take soil samples and test farming techniques in the field, the students explore practical solutions to the food security and livelihood challenges facing farmers back home.</p> 
<p>The program underscores China's contribution to agricultural development in the Global South by combining China's farming experience with local knowledge and practices to build longer-term capacity and help developing countries address hunger and poverty.</p> 

          
        </div>

        <!--<div id="div_currpage">&nbsp;&nbsp;-->
        
      <div id="div_currpage"><!--&nbsp;&nbsp;-->
        
          
          
        

        
          
          <span style="background-color: #003366;color: #fff;">1</span>
        

        
          <a href="//www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95_2.html">2</a>
          
        

        
          <a href="//www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95_3.html">3</a>
          
        

        
          <a href="//www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95_4.html">4</a>
          
        
        
          <a class="pagestyle" href="//www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95_2.html">Next</a>&nbsp;&nbsp; <a style="text-decoration:none" href="//www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95_4.html">&gt;&gt;|</a>
        
      </div>
    
        <!--</div>-->

        <div class="selectpage">
          <!--移动分页-->
          
            
            <span class="pageno">
              <a href="javascript:void (0)" shape="rect">
                1/4
              </a>
            </span>
            <span class="next">
              <a class="pagestyle" shape="rect" href="//www.chinadaily.com.cn/a/202609/18/WS6aac955be4b06d4aa055eb95_2.html">Next</a>
            </span>
          
        </div>

      </div>
      <script language="javascript" xml:space="preserve">
        //<![CDATA[
        var urlNext ;
        var oNext = document.getElementById('apDiv1');
        var oImg = document.getElementById('Content').getElementsByTagName('img')[0];
        if(oNext!=null){
          var s = oNext.parentNode;
          urlNext = s.href;
          oImg.onclick = function NextPage(){
            window.location.href = urlNext;}
        }

        //]]>
      </script>

    </div>
    <div class="w900">

      <div class="hid mb20">

        <div class="main_art">
          <div>
            <span class="photo_page_bt_art">Photo</span>
          </div>
          
            
            
              
                <div class="photo"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/18/WS6aac85cce4b06d4aa055eaef.html"><img width="160" height="104" src="//img2.chinadaily.com.cn/images/202609/18/6aac85f1e4b06d4a392c84c4.jpeg" /></a> 
                  <h3><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/18/WS6aac85cce4b06d4aa055eaef.html">95 years after '9.18 Incident': Japan's mask comes off</a></h3>
                </div>
                
              
            
            
              
                <div class="photo"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/18/WS6aac72bbe4b06d4aa055ea99.html"><img width="160" height="104" src="//img2.chinadaily.com.cn/images/202609/18/6aac72bbe4b06d4a392c82b2.jpeg" /></a> 
                  <h3><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/18/WS6aac72bbe4b06d4aa055ea99.html">'Rabbit island' a dark outpost of Japan's chemical warfare</a></h3>
                </div>
                
              
            
            
              
                <div class="photo"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/18/WS6aac70ffe4b06d4aa055ea7d.html"><img width="160" height="104" src="//img2.chinadaily.com.cn/images/202609/18/6aac7cc7e4b06d4a392c840f.jpeg" /></a> 
                  <h3><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/18/WS6aac70ffe4b06d4aa055ea7d.html">A China-Arab art documentary unveiled</a></h3>
                </div>
                
              
            
            
              
                <div class="photo"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/17/WS6aab8f2be4b06d4aa055e980.html"><img width="160" height="104" src="//img2.chinadaily.com.cn/images/202609/17/6aab8f2be4b06d4a392c7b0d.jpeg" /></a> 
                  <h3><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/17/WS6aab8f2be4b06d4aa055e980.html">Returning home, building dreams: Fujian's cultural tourism</a></h3>
                </div>
                
              
            
            
              
                <div class="photo"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/17/WS6aa8b0d9e4b06d4aa055e161.html"><img width="160" height="104" src="//img2.chinadaily.com.cn/images/202609/15/6aa8b0d9e4b06d4a392c45b5.jpeg" /></a> 
                  <h3><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/17/WS6aa8b0d9e4b06d4aa055e161.html">How China's 'backyard program' works for Africa</a></h3>
                </div>
                
              
            
            
              
                <div class="photo" style="margin-right: 0px;"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/17/WS6aab274be4b06d4aa055e73a.html"><img width="160" height="104" src="//img2.chinadaily.com.cn/images/202609/17/6aab375ce4b06d4a392c6fdd.png" /></a> 
                  <h3><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202609/17/WS6aab274be4b06d4aa055e73a.html">China opens trade shortcut to SE Asia</a></h3>
                </div>
                
              
            
            
              
            
            
              
            
            
              
            
            
              
            
          





        </div>
      </div>

    </div>


    <div class="main_art">
      <div class="lft_art">

        <div class="mb30" style="clear:both; ">
        </div>
        <!-- <th:block th:include="@{|/|}+'common/2017en' :: comments"/>	-->
      </div>
      <div class="rgt_art">

        
        
      <!--   <div id="taboola-right-rail-thumbnails"></div>	-->
      <script type="text/javascript">
        /*   window._taboola = window._taboola || [];
        _taboola.push({
          mode: 'alternating-thumbnails-rr',
          container: 'taboola-right-rail-thumbnails',
          placement: 'Right Rail Thumbnails',
          target_type: 'mix'
        });	*/
      </script>
    
      </div>
    </div>


    
      <link rel="stylesheet" type="text/css" href="//img2.chinadaily.com.cn/static/common/css/public_eu.css?v=1222513143" />
      <!-- 响应式回顶部 -->
      <div data-am-widget="gotop" class="am-gotop am-gotop-fixed WIDGET-58db5c3d3f6a4d70c2315464 gotop am-no-layout am-active res-m">
        <span class="am-gotop-title">Top</span>
        <i class="am-gotop-icon am-icon-arrow-up gotop"></i>
      </div>
      <!-- 响应式回顶部结束 -->
      <!--pc回顶部-->
      <div class="hui-dingbu">
        <div class="ding-nei"><a href="">BACK TO THE TOP</a></div>
      </div>
      <!--show mobile手机显示pc页面返回mobile部分-->
      <div class="mobileView" id="mobileView">
        <div class="mobileView-language">
          <div class="mobileView-button mvl-english">
            English
          </div>
          <div class="mobileView-button mvl-chinese">
            <a href="https://cn.chinadaily.com.cn" target="_blank">中文</a>
          </div></div>
        <div class="mobileView-button mobileView-phone" onclick="transView()"><img src="//img2.chinadaily.com.cn/static/common/img/showmobilee.png" /></div>
      </div>

      <!--show mobile手机显示pc页面返回mobile部分- end -->
      <!--底部-->
      <div class="dibu-one"></div>
      <!--底部2-->
      <div class="topNav_art2">
        <ul class="dropdown" style="width:1010px; margin:0 auto;">
          <li style="width: 60px;"><a href="https://www.chinadaily.com.cn" target="_blank">HOME</a></li>
          <li style=" width:60px;"> <a href="https://www.chinadaily.com.cn/china" target="_blank">CHINA</a></li>
          <li style=" width:70px;">  <a href="https://www.chinadaily.com.cn/world" target="_blank">WORLD</a></li>
          <li style=" width:80px;"> <a href="https://www.chinadaily.com.cn/business" target="_blank">BUSINESS</a></li>
          <li style=" width:70px;"> <a href="https://www.chinadaily.com.cn/culture" target="_blank">CULTURE</a></li>
          <li style=" width:70px;">  <a href="https://www.chinadaily.com.cn/travel" target="_blank">TRAVEL</a></li>
          <li style=" width:75px;"><a href="https://www.chinadaily.com.cn/video" target="_blank">VIDEO</a></li>
          <li style=" width:65px;"> <a href="https://www.chinadaily.com.cn/sports" target="_blank">SPORTS</a></li>
          <li style=" width:70px;">  <a href="https://www.chinadaily.com.cn/opinion" target="_blank">OPINION</a></li>
          <li style=" width:90px;"><a href="https://www.chinadaily.com.cn/regional" target="_blank">REGIONAL</a></li>
          <li class="newspaper"><a href="javascript:void(0);">NEWSPAPER</a>
            <ul class="sub_menu">
              <li><a href="http://newspress.chinadaily.net.cn" target="_blank" style="width:110px;">China Daily PDF</a></li>
              <li><a href="https://epaper.chinadaily.com.cn/china" target="_blank" style="width:130px;">China Daily E-paper</a></li>
            </ul>
          </li>
          <li><a href="https://www.chinadaily.com.cn/e/static_e/newmedia" target="_blank">MOBILE</a></li>
        </ul>
      </div>
      <!--底部3-->
      <div class="dibu-three">
        <div class="dibu-three-nei">
          <div class="three-left">
            <div class="lo-g"><a target="_blank" href="https://www.chinadaily.com.cn"><img src="https://www.chinadaily.com.cn/image_e/2016/sub/a-1.jpg" /></a></div>

            <div class="lo-a">Copyright 1994 - <script>
              //<![CDATA[
              var oTime = new Date();
              document.write(oTime.getFullYear());
              //]]>
              </script>. All rights reserved. The content (including but not limited to text, photo, multimedia information, etc) published in this site belongs to China Daily Information Co (CDIC). Without written authorization from CDIC, such content shall not be republished or used in any form. Note: Browsers with 1024*768 or higher resolution are suggested for this site.</div>

            <div class="lo-c"><span style="display:none;">License for publishing multimedia online <b><a href="//www.chinadaily.com.cn/2009image_e/permit2010.jpg" target="_blank">0108263</a></b></span><br />
              <br />
              Registration Number: 130349 <img src="//www.chinadaily.com.cn/image_e/2016/sub/a-2.jpg" /></div>
          </div>

          <div class="three-midd">
            <div class="midd-a"><a href="https://www.chinadaily.com.cn/e/static_e/about" target="_blank">About China Daily</a></div>

            <div class="midd-a"><a href="https://www.chinadaily.com.cn/e/static_e/advertiseonsite" target="_blank">Advertise on Site</a></div>

            <div class="midd-a"><a href="https://www.chinadaily.com.cn/e/static_e/contact" target="_blank">Contact Us</a></div>

            <div class="midd-a"><a href="http://chinadaily.zhiye.com/" target="_blank">Job Offer</a></div>

            <div class="midd-a"><a href="https://www.chinadaily.com.cn/static_e/Expat_Employment.html" target="_blank">Expat Employment</a></div>
          </div>

          <div class="three-right">
            <div class="right-a">FOLLOW US</div>

            <div class="right-b"><span><a href="http://www.facebook.com/chinadaily" target="_blank"><img src="https://www.chinadaily.com.cn/image_e/2016/sub/a-3.jpg" border="0" /></a></span> 

              <span><a href="https://twitter.com/ChinaDailyUSA" target="_blank"><img src="https://www.chinadaily.com.cn/image_e/2024/a-5.jpg?ver=2" border="0" /></a></span></div>
          </div>
        </div>
      </div>
      <!-- 响应式foot -->
      <footer class="mobile-foot">
        <div class="mobile-miscs res-m">
          <div class="showDesktop"><span class="showDesktop-English"><img src="//img2.chinadaily.com.cn/static/common/img/mEnglish.png" /></span>
            <span class="showDesktop-Chinese"><a href="//cn.chinadaily.com.cn"><img src="//img2.chinadaily.com.cn/static/common/img/mChinese.png" /></a></span>
            <span class="showDesktop-Desktop" id="showpc" onclick="transView()"><img src="//img2.chinadaily.com.cn/static/common/img/showDesktop.png" /></span></div>
          <p class="footer-p">
            Copyright 1994 - <script>
            //<![CDATA[ 
            var oTime = new Date();
            document.write(oTime.getFullYear());
            //]]>
            </script>. All rights reserved. The content (including but not limited to text, photo, multimedia information, etc) published in this site belongs to China Daily Information Co (CDIC). Without written authorization from CDIC, such content shall not be republished or used in any form.
          </p>
        </div>
      </footer>
      <!-- 响应式foot 结束-->
      <script type="text/javascript">
        //<![CDATA[
        var toggleBtn = document.getElementById('showpc');
        var vp = document.querySelector('meta[name=viewport]');
        var vpHtml = document.getElementById('showpc');
        vpHtml.style.display = 'display';
        var flag = 0;
        function transView(){
          var x = (flag) ? 'initial-scale=1' : 'width=1200';
          var  relax = (flag) ? 'none' : 'block';
          vp.setAttribute('content', x);
          document.getElementById("mobileView").style.display=relax;

          flag^=1;
        };
        /*toggleBtn.addEventListener('click',transView())*/

        //]]>
      </script> 
    
    
      <!--心动统计系统 -->
      <script src="https://xd.cdurl.cn/xdsens/autotrack.js" type="text/javascript" data-config="{'host':'//xd.cdurl.cn/receiver', 'project':'Chinadailyvideo','token':'a5a00812e91149238d371a308cb61e40'}"></script>
    
    
      <div style="display:none;">
        <!--  <script src="//s13.cnzz.com/stat.php?id=3089622&amp;web_id=3089622" language="JavaScript"></script>	-->
        <!-- Start Alexa Certify Javascript -->
        <!--  <script type="text/javascript">
//<![CDATA[
_atrk_opts = { atrk_acct:"uM+9j1a8Dy00qn", domain:"chinadaily.com.cn",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
//]]>
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=uM+9j1a8Dy00qn" style="display:none" height="1" width="1" alt="" /></noscript>	-->
        <!-- End Alexa Certify Javascript -->  
      </div>

    
    <!-- 视频框下iframe分享代码 start -->
    <script type="text/javascript" xml:space="preserve">
      //<![CDATA[
      /*	$(document).ready(function () {
		setFrameHeight();

		function setFrameHeight(){
			if($("#playerFrame").length > 0){
			    $("#playerFrame").css("height", $("#playerFrame").css("width").substring(0, $("#playerFrame").css("width").length -2) * 0.5625 + "px");
			}
		}

		$(window).resize(function(){
			setFrameHeight();
	    });
*/
      function is_weixin(){
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)=="micromessenger") {
          return true;
        } else {
          return false;
        }
      }
      var url =location.href;
      if(is_weixin()){
        $.post('https://share.chinadaily.com.cn/wxshare/api/wxinit', {url:url}, function(data){
          wx.config({
            debug: false,
            appId: data.appid,
            timestamp: data.timestamp,
            nonceStr: data.noncestr,
            signature: data.sign,
            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']
          }),
            wx.ready(function(){
            wx.onMenuShareTimeline({
              title: 'Chinese farming model benefits Global South',
              link: url,
              imgUrl: '//img2.chinadaily.com.cn/images/202609/18/6aac955be4b06d4a392c878e.jpeg'
            });
            var data = {
              title: 'Chinese farming model benefits Global South',
              desc: 'In the sun-drenched fields of Quzhou county, Hebei province, Chinese agricultural expertise is being taught to students from Africa, giving them practical experience in improving farming techniques that they can then take back home.',
              link: url,
              imgUrl: '//img2.chinadaily.com.cn/images/202609/18/6aac955be4b06d4a392c878e.jpeg'
            };
            wx.onMenuShareAppMessage(data);
          }),
            wx.error(function(res){
            console.log("微信验证失败!");
          })
        });


      };
      function showAddressWindow(){
        $(".urlShareBox").toggle();  
      };
      function select(obj){
        $(obj).select(); 
      }
      function copyToClipBoard() {
        var s = $("#address").val();
        if (typeof(window.clipboardData) != "undefined" &&  window.clipboardData) {
          window.clipboardData.setData("Text", s);
          alert("Copy to clipboard！"+ "\n" + s);
        } else if (typeof(navigator.userAgent) != "undefined" && navigator.userAgent.indexOf("Opera") != -1) {
          window.location = s;
        } else if (typeof(window.netscape) != "undefined" && window.netscape) {
          try {
            netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
          } catch (e) {
            alert("The browser you are using does not support this replication feature, use the Ctrl+C or right mouse...");
            //alert("被浏览器拒绝！\n请在浏览器地址栏输入'about:config'并回车\n然后将'signed.applets.codebase_principal_support'设置为'true'");
          }
          var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);
          if (!clip)
            return;
          var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);
          if (!trans)
            return;
          trans.addDataFlavor('text/unicode');
          var str = new Object();
          var len = new Object();
          var str = Components.classes["@mozilla.org/supports-string;1"].createInstance(Components.interfaces.nsISupportsString);
          var copytext = s;
          str.data = copytext;
          trans.setTransferData("text/unicode", str, copytext.length * 2);
          var clipid = Components.interfaces.nsIClipboard;
          if (!clip)
            return false;
          clip.setData(trans, null, clipid.kGlobalClipboard);
        }else{
          window.prompt("Copy to clipboard: Ctrl+C, Enter", s);
        }
      }
      //]]>
    </script>
    <!-- 视频框下iframe分享代码 end -->
  </body>
  <script xml:space="preserve">
    //<![CDATA[
    document.addEventListener("DOMContentLoaded", function() {
      // 获取div#Content中的所有iframe
      const contentDiv = document.getElementById('Content');
      if (contentDiv) {
        const targetIframes = contentDiv.querySelectorAll("iframe");

        // 遍历并执行调整函数
        targetIframes.forEach(iframe => {
          adjustIframeContainerSize(iframe);
        });
      } else {
        console.warn('未找到div#Content元素');
      }
    });

    function adjustIframeContainerSize(iframe) {
      if (!iframe) {
        console.warn('未找到 iframe 元素');
        return;
      }

      // 获取iframe的ID
      const iframeId = iframe.id.replace(/[^a-zA-Z]/g, "");
      console.log(iframeId)
      let vr;

      // 根据不同ID设置不同的ra值
      if (iframeId === 'playerFrameN') {
        // 从src中提取ra参数
        const iframeSrc = iframe.src;
        console.log("当前 iframe 的 src:", iframeSrc);

        try {
          const videoUrl = new URL(iframeSrc);
          vr = videoUrl.searchParams.get("ra") || "16:9";
        } catch (e) {
          console.error("解析URL失败:", e);
          vr = "16:9"; // 解析失败时使用默认值
        }
      } else if (iframeId === 'playerFrameV') {
        // 固定为9:16
        vr = "9:16";
      } else if (iframeId === 'playerFrameP') {
        // 固定为16:9
        vr = "16:9";
      } else {
        // 对于其他ID的iframe，使用默认比例
        console.log(`未处理的iframe ID: ${iframe.id}，使用默认比例`);
        vr = "16:9";
        return; // 如果不需要处理其他ID的iframe，可以取消此行注释
      }

      console.log(`iframe ID: ${iframe.id}，使用的比例值:`, vr);

      // 解析宽高比
      const ratioParts = vr.split(":").map(Number);
      if (ratioParts.length !== 2 || isNaN(ratioParts[0]) || isNaN(ratioParts[1])) {
        console.error("无效的比例值，使用默认16:9");
        ratioParts = [16, 9];
      }
      const [videoW, videoH] = ratioParts;
      const videoRatio = videoW / videoH;

      // 调整iframe尺寸
      const parent = iframe.parentElement;
      if (!parent) {
        console.warn('iframe没有父元素');
        return;
      }

      const parentWidth = parent.offsetWidth;

      function isMobileDevice() {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
      }

      function updateContainerWidth() {
        if (isMobileDevice()) {
          console.log("这是移动设备");
          iframe.style.width = parentWidth + "px";
          iframe.style.height = parentWidth / videoRatio + "px";
        } else {
          console.log("这是PC/桌面设备");
          if (videoRatio > 1) {
            iframe.style.width = parentWidth + "px";
            iframe.style.height = parentWidth / videoRatio + "px";
          } else {
            iframe.style.width = parentWidth * 0.5 + "px";
            iframe.style.height = (parentWidth * 0.5) / videoRatio + "px";
          }
        }
        console.log(`width: ${iframe.style.width}, height: ${iframe.style.height}`);
      }

      updateContainerWidth();
      iframe.addEventListener("load", updateContainerWidth);
      // 监听窗口大小变化，重新调整尺寸
      window.addEventListener("resize", updateContainerWidth);
    }
    //]]>
  </script>
</html>
